<app-page navigationItem="SETTINGS_SUBSCRIPTION">
  <section class="flex flex-wrap h-full justify-center">
      <mat-card class="flex w-full mat-elevation-z2">
        <mat-card-header class="justify-center">
          <mat-card-title>Fail subscription</mat-card-title>
          <mat-card-subtitle clas="flex flex-grow-0">
            <span class="text-sm mr-2">Subscription fail</span>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="flex flex-col flex-grow">
        </mat-card-content>
        <mat-card-actions class="flex justify-center">
          <a mat-raised-button color="primary" routerLink="/" >Go Home</a>
        </mat-card-actions>
      </mat-card>
  </section>
</app-page>

