<app-page pageTitle="Dashboard" pageIcon="dashboard">
  <section fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="flex-start baseline">

    <mat-card routerLink="../banking" class="cursor-pointer">
      <mat-card-header>
        <mat-icon mat-card-avatar class="">account_balance</mat-icon>
        <mat-card-title>Banking</mat-card-title>
        <mat-card-subtitle>Payment settings</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card routerLink="../subscript+ion" class="cursor-pointer">
      <mat-card-header>
        <mat-icon mat-card-avatar class="">card_membership</mat-icon>
        <mat-card-title>Subscription</mat-card-title>
        <mat-card-subtitle>Your subscription</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

  </section>
</app-page>
