<app-page pageTitle="Dashboard" pageIcon="dashboard">
  <section fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="flex-start baseline">

    <mat-card *ngFor="let item of this.navigationItems" class="m-2 p-2 cursor-pointer" [routerLink]="item.routerLink">
      <mat-card-header>
        <mat-icon mat-card-avatar class="scale-100">{{item.icon}}</mat-icon>
        <mat-card-title>{{item.label}}</mat-card-title>
        <mat-card-subtitle>{{item.caption}}</mat-card-subtitle>

      </mat-card-header>
      <mat-card-footer></mat-card-footer>
    </mat-card>

  </section>
</app-page>
