<mat-toolbar class="main-toolbar">

  <!-- <span class="app-title">{{appTitle}}</span> -->
  <span class="flex app-title w-full h-full"> </span>

  <button mat-icon-button class="sidenav-icon-toggle" aria-label="Example icon-button with menu icon" (click)="menuService.toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <ol class="mx-20" class="flex flex-row flex-no-wrap  ml-12">
    <li fxLayoutAlign="start center">
      <a href="javascript:void(0)" fxLayoutAlign="start center" class="text-sm text-gray-500 hover:text-gray-200">
        <mat-icon class="mr-1">home</mat-icon>
        <span class="border-opacity-50">Home</span>
      </a>
    </li>

    <li fxLayoutAlign="start center" class="mx-2">
      <span fxLayoutAlign="start center" class="text-sm text-gray-500">
        >
      </span>
    </li>

    <li fxLayoutAlign="start center">
      <a href="javascript:void(0)" fxLayoutAlign="start center" class="text-sm text-gray-500 hover:text-gray-200">
        <mat-icon class="mr-1">business_center</mat-icon>
        <span class="border-opacity-50">About</span>
      </a>
    </li>
  </ol>

  <span class="example-spacer"></span>
  <!-- <mat-form-field class="example-form-field">
    <input matInput type="text" [(ngModel)]="searchText">
    <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="optionsService.toggleOptions('app-settings')">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>fullscreen</mat-icon>
  </button>
</mat-toolbar>
