<section [fxFlex]="menuConfig.expanded ? '250px' : '64px'" fxLayout="column" fxLayoutAlign="space-between stretch">
  <mat-list>
    <mat-list-item class="expanded-handler" (click)="service.toggleExpanded()">
      <mat-icon mat-list-icon>{{menuConfig.expanded ? 'close_fullscreen' : 'open_in_full'}}</mat-icon>
      <div mat-line *ngIf="menuConfig.expanded">{{menuConfig.expanded ? 'Minimize' : 'Maximize'}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <ng-container *ngFor="let item of service.currentMenuTop" [ngSwitch]="item.type">
      <mat-divider *ngSwitchCase="'divider'"></mat-divider>

      <mat-list-item *ngSwitchDefault>
        <ng-container>
          <ng-container *ngIf="item.icon; else noIcon">
          <mat-icon *ngIf="!item.fontSet" mat-list-icon [routerLink]="item.routerLink" style="cursor:pointer;">
            {{item.icon}}</mat-icon>
          <mat-icon *ngIf="item.fontSet" mat-list-icon [fontSet]="item.fontSet" [routerLink]="item.routerLink"
            [fontIcon]="item.icon" [routerLink]="item.routerLink" style="cursor:pointer;"></mat-icon>
        </ng-container>
        <ng-template #noIcon>
          <mat-icon fontSet="fas" fontIcon="fa-cog" mat-list-icon [routerLink]="item.routerLink" style="cursor:pointer;"></mat-icon>
        </ng-template>
        <a mat-line *ngIf="menuConfig.expanded" [routerLink]="item.routerLink">
            {{item.label}}
          </a>
        </ng-container>
      </mat-list-item>
    </ng-container>
  </mat-list>


  <mat-list>
    <ng-container *ngFor="let item of service.currentMenuBottom" [ngSwitch]="item.type">
      <mat-divider *ngSwitchCase="'divider'"></mat-divider>

      <mat-list-item *ngSwitchDefault>
        <ng-container>
          <ng-container *ngIf="item.icon; else noIcon">
          <mat-icon *ngIf="!item.fontSet" mat-list-icon [routerLink]="item.routerLink" style="cursor:pointer;">
            {{item.icon}}</mat-icon>
          <mat-icon *ngIf="item.fontSet" mat-list-icon [fontSet]="item.fontSet" [routerLink]="item.routerLink"
            [fontIcon]="item.icon" [routerLink]="item.routerLink" style="cursor:pointer;"></mat-icon>
        </ng-container>
        <ng-template #noIcon>
          <mat-icon fontSet="fas" fontIcon="fa-cog" mat-list-icon [routerLink]="item.routerLink" style="cursor:pointer;"></mat-icon>
        </ng-template>
        <a mat-line *ngIf="menuConfig.expanded" [routerLink]="item.routerLink">
            {{item.label}}
          </a>
        </ng-container>
      </mat-list-item>
    </ng-container>
  </mat-list>
</section>
