<app-toolbar>
  <ng-template #toolbarExtraOptions>
    <ng-container *ngIf="toolbarOptions" [ngTemplateOutlet]="toolbarOptions"></ng-container>
  </ng-template>
</app-toolbar>

<mat-drawer-container class="sidenav-container" autosize="true">
  <mat-drawer #drawer class="example-sidenav" [mode]="this.side">
    <app-menu fxFlexFill></app-menu>
  </mat-drawer>

  <div class="example-sidenav-content">

    <router-outlet></router-outlet>

  </div>

  <mat-drawer #drawerOptions class="example-sidenav" mode="side" position="end">
    <section fxFlex="1 0 200px" class="m-4">
      <ng-container *ngIf="options$ | async as options">
        <ng-template *ngIf="options.expanded && options.current" [appLazy]="options.current"></ng-template>
      </ng-container>
    </section>
  </mat-drawer>

</mat-drawer-container>
