<section fxFlex fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
  <button ngxPlaidLink [env]="this.plaidEnvironment" [publicKey]="this.plaidPublicKey" institution=""
    [countryCodes]="['US', 'CA', 'GB']" (Success)="onPlaidSuccess($event)" (Exit)="onPlaidExit($event)"
    (Load)="onPlaidLoad($event)" (Event)="onPlaidEvent($event)" (Click)="onPlaidClick($event)">Link Your Bank
    Account</button>

  <section *ngIf="this.accounts?.length > 0" fxLayout="column" fxFlexAlign="stretch">
    {{this.selectedAccount | json}}

    <ng-container *ngFor="let account of this.accountData.metadata.accounts">
      <mat-card (click)="this.selectedAccount = account">
        {{account.name}}
      </mat-card>
      <!-- <mat-checkbox [(ngModel)]="this.selectedAccountId" [name]="account.id" [value]="account.id" color="primary">
        {{account.name}}
      </mat-checkbox> -->
    </ng-container>
  </section>

  <dl *ngIf="!this.environment.production && !this.accountData" fxFlex fxLayout="row wrap">
    <dt fxFlex="30%" fxLayout="row" class="mx-0">User:</dt>
    <dd fxFlex="calc(70%-40px)" fxLayout="row">user_good</dd>

    <dt fxFlex="30%" fxLayout="row">Password:</dt>
    <dd fxFlex="calc(70%-40px)" fxLayout="row">pass_good</dd>

    <dt fxFlex="30%" fxLayout="row">Code:</dt>
    <dd fxFlex="calc(70%-40px)" fxLayout="row">1234</dd>
  </dl>

</section>
