<section fxFlex fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">


  <ng-container *ngIf="this.mode === 'Auto'; else manual">

      <button mat-mini-fab color="warn" aria-label="Link Your Bank Account" ngxPlaidLink [env]="this.plaidEnvironment" [publicKey]="this.plaidPublicKey" institution=""
        [countryCodes]="['US', 'CA', 'GB']" (Success)="onPlaidSuccess($event)" (Exit)="onPlaidExit($event)"
        (Load)="onPlaidLoad($event)" (Event)="onPlaidEvent($event)" (Click)="onPlaidClick($event)">
        <mat-icon>account_balance</mat-icon>
      </button>

    <section *ngIf="this.accounts?.length > 0" fxLayout="column" fxFlexAlign="stretch" fxLayoutGap="20px">
      <!-- {{this.selectedAccount | json}} -->

      <mat-selection-list #accountComp #shoes checkboxPosition="before" [multiple]="false" (selectionChange)="this.selectAccount($event)">
        <mat-list-option *ngFor="let account of this.accountData.metadata.accounts" [value]="account">
          <mat-list-item>
            <mat-icon mat-list-icon>account_balance</mat-icon>
            <div mat-line>{{account.name}}</div>
            <div mat-line>{{account.subtype}}</div>
          </mat-list-item>
        </mat-list-option>
      </mat-selection-list>
    </section>

    <dl *ngIf="!this.environment.production && !this.accountData" fxFlex fxLayout="row wrap">
      <dt fxFlex="30%" fxLayout="row" class="mx-0">User:</dt>
      <dd fxFlex="calc(70%-40px)" fxLayout="row">user_good</dd>

      <dt fxFlex="30%" fxLayout="row">Password:</dt>
      <dd fxFlex="calc(70%-40px)" fxLayout="row">pass_good</dd>

      <dt fxFlex="30%" fxLayout="row">Code:</dt>
      <dd fxFlex="calc(70%-40px)" fxLayout="row">1234</dd>
    </dl>

  </ng-container>

  <ng-template #manual>
    <form [formGroup]="form" fxFlex>
      <mat-form-field appearance="fill">
        <mat-label>Institution</mat-label>
        <input type="text" matInput formControlName="institution" [errorStateMatcher]="matcher"
          placeholder="Chase, Bank of America">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="this.institutionFormControl.hasError('required')">
          Please enter a valid institution
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Holder name</mat-label>
        <input type="text" matInput formControlName="holderName" [errorStateMatcher]="matcher" placeholder="John Smith">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="this.holderNameFormControl.hasError('required')">
          Please enter a valid account holder name
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Routing number</mat-label>
        <input type="text" matInput formControlName="routingNumber" [errorStateMatcher]="matcher">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="this.routingNumberFormControl.hasError('required')">
          Please enter a valid routing number
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Account number</mat-label>
        <input type="text" matInput formControlName="accountNumber" [errorStateMatcher]="matcher">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="this.accountNumberFormControl.hasError('required')">
          Please enter a valid account number
        </mat-error>
      </mat-form-field>


    </form>
  </ng-template>

</section>
