<div class="app-wrapper bg-gradient-to-b from-red-600 via-orange-400 to-yellow-300" fxLayoutAlign="center center">


  <mat-card fxFlex.le-sm="50%" fxFlex="30%" fxLayoutGap="30px" fxLayout="column">

    <span *ngIf="this.validationErrors" fxLayoutAlign="center center">
      <mat-error *ngIf="email.dirty && email.hasError('required')">
        Please enter a valid email address
      </mat-error>
    </span>

    <span *ngIf="this.errorMessage" fxLayoutAlign="center center">
      <mat-error>
        {{this.errorMessage}}
      </mat-error>
    </span>

    <span fxLayoutAlign="center center" class="app-title">
      <span class="text">
        My HCare
      </span>
    </span>

    <form #signUpForm="ngForm" (ngSubmit)="onSubmit($event)" class="max-w-7xl">
      <div fxLayout="column" fxLayoutGap="70px">
        <div fxLayout="column" fxLayoutGap="20px">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <mat-icon matPrefix>email</mat-icon>
            <input [(ngModel)]="this.signUp.email" name="email" #email="ngModel" matInput type="text" required email>
            <mat-hint>User email. If you don't have one, please contact your IT support</mat-hint>
            <mat-error *ngIf="email.dirty && email.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>

          <section id="password" fxLayoutAlign="space-between auto">
            <mat-form-field fxFlex="0 1 40%">
              <mat-label>Password</mat-label>
              <mat-icon matPrefix>lock</mat-icon>
              <input [(ngModel)]="signUp.password" name="password" #password="ngModel" matInput type="password" required
                pattern="[A-Za-z0-9._%+-@]{3,}$">
              <mat-hint>User password. If you don't remember your password, please contact your IT support</mat-hint>
              <mat-error *ngIf="password.dirty && password.hasError('required')">
                Please enter your password
              </mat-error>
              <mat-error *ngIf="password.hasError('pattern') && !password.hasError('required')">
                Please enter a valid password
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="0 1 40%">
              <mat-label>Confirm Password</mat-label>
              <mat-icon matPrefix>lock</mat-icon>
              <input [(ngModel)]="signUp.password" name="password" #passwordConfirm="ngModel" matInput type="password"
                required pattern="[A-Za-z0-9._%+-@]{3,}$">
              <mat-hint>User password. If you don't remember your password, please contact your IT support</mat-hint>
              <mat-error *ngIf="passwordConfirm.dirty && passwordConfirm.hasError('required')">
                Please enter your password
              </mat-error>
              <mat-error *ngIf="passwordConfirm.hasError('pattern') && !passwordConfirm.hasError('required')">
                Please enter a valid password
              </mat-error>
            </mat-form-field>
          </section>

          <!-- <div>
          <mat-checkbox [(ngModel)]="userLogin.rememberMe" name="rememberMe" class="example-margin">Remember me</mat-checkbox>
        </div> -->
        </div>

        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <mat-icon matPrefix>phoneNumber</mat-icon>
          <input [(ngModel)]="this.signUp.phoneNumber" name="phoneNumber" #phoneNumber="ngModel" matInput type="text" required email>
          <mat-hint>User email. If you don't have one, please contact your IT support</mat-hint>
          <mat-error *ngIf="phoneNumber.dirty && phoneNumber.hasError('required')">
            Please enter a valid phone number
          </mat-error>
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid phone number
          </mat-error>
        </mat-form-field>

        <div class="flex" fxLayoutAlign="stretch center">
          <button mat-flat-button class="flex justify-center" fxFlexFill color="primary" type="submit"
            [disabled]="signUpForm.invalid || this.signingUp">
            <ng-container *ngIf="this.signingUp; then signingUpSpinnerTemplate; else signupLabelTemplate">
            </ng-container>
            <ng-template #signingUpSpinnerTemplate>
              <section class="flex justify-center">
                <mat-progress-spinner [mode]="'indeterminate'" diameter="30">
                </mat-progress-spinner>
              </section>

            </ng-template>
            <ng-template #signupLabelTemplate>Signup</ng-template>
          </button>
        </div>

        <div class="flex" fxLayoutAlign="stretch center">
          <a routerLink="/login" fxLayoutAlign="start center" fxLayoutGap="5px">
            <span class="material-icons">
              login
            </span>
            <span>Login</span></a>
        </div>

      </div>
    </form>
  </mat-card>


</div>
