@import "./components/material-tabgroup.scss";
@import "./components/material-dialog.scss";

html,
body {
  height: 100%;
  border: none;
  margin: none;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root,
.app-wrapper,
app-main,
app-layout-main,
app-page,
.page,
app-options-wrapper,
.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex: 1 1 100%;
}

app-layout-main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: column;
}

app-toolbar {
  display: flex;
  //   // flex: 1 0 100%;
  height: 60px;
  //   // justify-self: start;
  //   //   align-self: start;

  & .main-toolbar {
    flex: 1 0 100%;
    height: 60px;
    flex-flow: row;
    //     display: flex;
    //   //   justify-self: start;
    //   //   align-self: start;
  }
}

.app-title {
  // background-color: #fff;
  // position: relative;
  // top: -50px;
  // border-radius: 15px;
  align-items: center;

  & .text {
    font-family: "Major Mono Display", monospace;
    font-family: "Montserrat", sans-serif;
    font-size: 29px;
    font-weight: bolder;

    text-shadow: 1px 0px 0px  #000;
    color: rgb(102, 4, 1);
    background: linear-gradient(180deg, rgba(102, 4, 1, 1) 0%, rgba(158, 77, 2, 1) 35%, rgba(255, 214, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 0 1 200px;
    // background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

mat-drawer {
  display: flex;
  flex: 1 1 200px;
}

.example-sidenav-content {
  & router-outlet {
    & + * {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

app-menu {
  & .expanded-handler {
    cursor: pointer;
  }

  &.collapsed {
    & .expanded-handler {
      cursor: pointer;
    }
  }
}

.custom-tree {
  & .tree-invisible {
    display: none;
  }

  & li {
    & ul {
      padding-left: 10px;
    }
  }

  & ul,
  & li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
}

.fa-letter {
  font-family: Arial; /* your font family here! */
  font-weight: bold;
}

.fa-a:before {
  content: "A";
}

.fa-p:before {
  content: "P";
}

.fa-p:before {
  content: "Q";
}

.fa-p:before {
  content: "C";
}
