<ng-container [ngSwitch]="true">
  <ng-template [ngSwitchCase]="this.displayMode == 'Page'">
    <app-page navigationItem="ADMIN_SUBSCRIPTIONS">
      <ng-container [ngTemplateOutlet]="htmlContent" [ngTemplateOutletContext]="{$implicit: this.form}">
      </ng-container>
    </app-page>
  </ng-template>

  <ng-template [ngSwitchCase]="this.displayMode == 'Component'">
    <ng-container [ngTemplateOutlet]="htmlContent" [ngTemplateOutletContext]="{$implicit: this.form}"></ng-container>
  </ng-template>

  <ng-template [ngSwitchCase]="this.dialogConfig != null">
    <h2 mat-dialog-title>Edit subscription</h2>

    <mat-dialog-content>
      <ng-container [ngTemplateOutlet]="htmlContent"
        [ngTemplateOutletContext]="{$implicit: this.dialogConfig.host.form}"></ng-container>
    </mat-dialog-content>

    <mat-dialog-actions fxLayoutAlign="stretch stretch">
      <section fxFlex fxLayoutAlign="space-between stretch">
        <section class="flex">
          <button mat-button (click)="this.cancel()" cdkFocusInitial>Cancel</button>
          <button mat-button (click)="this.save()" [disabled]="!this.dialogConfig.host.form.valid">Ok</button>
        </section>
      </section>
    </mat-dialog-actions>
  </ng-template>
</ng-container>

<ng-template #htmlContent let-targetForm>
  <section [formGroup]="targetForm" fxFlex fxFlexFill>
    <section class="mb-8">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Placeholder" formControlName="name">
        <mat-icon matSuffix>check</mat-icon>
        <mat-hint>Subscription name will appear as part of the subscription title</mat-hint>
      </mat-form-field>
    </section>

    <section class="mb-8">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Placeholder" formControlName="price">
        <mat-icon matSuffix>attach_money</mat-icon>
        <mat-slider min="1" max="15" step="0.10" formControlName="price"></mat-slider>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </section>

    <section class="mb-8">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Add detail</mat-label>
        <input matInput placeholder="Placeholder" (focus)='this.detailInputActivated($event)'
          [(ngModel)]="this.detailDescription" [ngModelOptions]="{standalone: true}"
          (keydown.enter)="this.detailInputProcess($event)">
        <mat-icon matSuffix>check</mat-icon>
        <mat-hint>Add new subscription detail. Press enter to save</mat-hint>
      </mat-form-field>



      <!-- <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of (this.details || this.dialogConfig.host.details)"> {{item.data.description}} </mat-list-item>
      </mat-list> -->
    </section>

    <section mt-4>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>delete</mat-icon>
    </button>
  </section>

    <mat-divider></mat-divider>

    <mat-selection-list #detailsList>
      <mat-list-option *ngFor="let item of (this.details || this.dialogConfig.host.details)">
        {{item.data.description}}
      </mat-list-option>
    </mat-selection-list>

  </section>
</ng-template>
