<app-page navigationItem="SETTINGS_SUBSCRIPTION">

  <section class="flex justify-center space-x-4">
    <ng-container *ngIf="this.items">
      <mat-card class="dashboard-tile rounded-xl flex flex-col flex-grow-0 lt-md:w-4/12 w-2/12 mat-elevation-z2"
        *ngFor="let i of this.items">
        <mat-card-header class="justify-center">
          <mat-card-title>{{i.data.name}}</mat-card-title>
          <mat-card-subtitle clas="flex flex-grow-0">
            <span class="text-sm mr-2">$</span>
            <span class="text-lg font-bold">{{i.data.price | number:'1.2'}}</span>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="flex flex-col flex-grow">
          <section class="flex justify-center my-10">
            <mat-icon class="text-gray-600 scale-[5]">{{i.data.icon}}</mat-icon>
          </section>
          <p class="min-h-[10vh]">
            {{i.data.description}}
          </p>
          <!-- i.data.details = {{i.data | json}} -->
          <span class="mt-4 text-lg">Options</span>
          <ul class="divide-y divide-solid divide-gray-300 ">
            <li *ngFor="let detail of i.data.details" class="py-4">
              <em class="fas fa-check mr-4"></em>
              {{detail.data.description}}
            </li>
          </ul>

        </mat-card-content>
        <mat-card-actions class="flex justify-center">
          <button mat-raised-button color="primary"
          (click)="this.selectUserSubscription()">JOIN</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </section>
</app-page>
