<div fxFlex fxLayout="column" class="max-h-full">
  <mat-toolbar>
    <mat-toolbar-row class="flex justify-between">
      <section class="flex items-center">
        <mat-icon class="mr-4">{{icon}}</mat-icon>
        <span class="text-2xl font-semibold text-white-200">{{title}}</span>
      </section>


      <section *ngIf="optionsContent">
        <ng-container [ngTemplateOutlet]="optionsContent"></ng-container>
      </section>

    </mat-toolbar-row>
  </mat-toolbar>

  <!-- <section class="px-8 mb-8">
  <span class="text-2xl font-semibold text-blue-500">{{title}}</span>
</section> -->

  <section fxFlex class="pt-4 overflow-y-auto">
    <section class="mx-4">
      <ng-content></ng-content>
    </section>
  </section>
</div>
