<!-- this.displayMode = {{this.displayMode}} -->
<!-- <em class="h-max h-full"></em> -->
<ng-container [ngSwitch]="true">
  <ng-template [ngSwitchCase]="this.displayMode == 'Page'">
    <app-page title="New subscription">
      <ng-container [ngTemplateOutlet]="htmlContent"></ng-container>
    </app-page>
  </ng-template>

  <ng-template [ngSwitchCase]="this.displayMode == 'Component'">
    <ng-container [ngTemplateOutlet]="htmlContent"></ng-container>
  </ng-template>

  <ng-template [ngSwitchCase]="this.displayMode == 'Dialog' && this.isDialog">
    <h2 mat-dialog-title>New subscription</h2>

    <mat-dialog-content>
      <ng-container [ngTemplateOutlet]="htmlContent"></ng-container>
    </mat-dialog-content>

    <mat-dialog-actions fxLayoutAlign="stretch stretch">
      <section fxFlex fxLayoutAlign="space-between stretch">
        <section class="flex">
          <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
          <button mat-button (click)="this.save()"
            [disabled]="!this.form.valid">Ok</button>
        </section>
      </section>
    </mat-dialog-actions>
  </ng-template>
</ng-container>



<ng-template #htmlContent>
  <section fxFlex fxFlexFill>


  </section>
</ng-template>
