<app-page navigationItem="SETTINGS_SUBSCRIPTION">
  <section class="flex flex-wrap h-full justify-center items-center">
    <mat-card class="mat-elevation-z2 w-10/12 gt-sm:w-4/12  gt-md:w-3/12">
      <mat-card-header class="justify-center">
        <mat-card-title class="text-center">Success subscription</mat-card-title>
        <mat-card-title class="text-center">{{this.userSubscription.data.name}}</mat-card-title>
        <mat-card-subtitle class="flex items-center justify-center">
            <span class="text-sm mr-2">$</span>
            <span class="text-lg font-bold">{{this.userSubscription.data.price | number:'1.2'}}</span>
        </mat-card-subtitle>


      </mat-card-header>

      <mat-card-content class="text-center">
        <p>{{this.userSubscription.data.description}}</p>
        <!-- {{this.userSubscription | json}} -->
      </mat-card-content>
      <mat-card-actions class="flex justify-center">
        <a mat-raised-button color="primary" routerLink="/">Go Home</a>
      </mat-card-actions>
    </mat-card>
  </section>
</app-page>
