<app-page title="New Quote">

  <section fxFlex="100%" fxLayout="row wrap">
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)" fxFlex="100%">
      <mat-card class="dashboard-tile" fxFlex>

        <mat-card-content fxLayoutGap="20px">
          <mat-form-field fxFlex="25%">
            <mat-label>Description</mat-label>
            <input formControlName="description" matInput type="text">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Activate date</mat-label>
            <input formControlName="activateDate" matInput [matDatepicker]="pickerActivateDate">
            <mat-datepicker-toggle matSuffix [for]="pickerActivateDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerActivateDate></mat-datepicker>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>CANCEL</button>
          <button mat-button type="submit">OK</button>
        </mat-card-actions>
      </mat-card>
    </form>

  </section>


</app-page>
