<app-page title="New payment method" *ngIf="this.displayMode == 'Page'; else componentView">

  <ng-container [ngTemplateOutlet]="content"></ng-container>

  example

</app-page>

<ng-template #componentView>
  {{displayMode}}
    {{this.paymentMethods | json}}
    <ng-container *ngIf="this.displayMode == 'Component'">
    {{this.paymentMethods | json}}
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </ng-container>
</ng-template>


<ng-template #content>
  <section fxFlex="100%" fxLayout="row wrap">
    <ng-container *ngFor="let item of this.paymentMethods">
      <mat-card>
        <mat-card-title>{{item.bank_name}}</mat-card-title>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </ng-container>
  </section>
</ng-template>
