<app-page pageTitle="Banking" pageIcon="account_balance">


  <section fxFlex="auto" fxLayout="column" fxLayoutGap="20px" class="max-h-full" fxLayoutAlign="flex-start baseline">
    <mat-tab-group class="custom-tab-group fill" fxFlexFill fxFlex fxLayout="column" fxLayoutAlign="stretch stretch">
      <mat-tab label="Payment Methods">
        <section class="">
          <app-page pageTitle="" pageIcon="account_balance">

            <ng-template #optionsContent>
              <button mat-mini-fab aria-label="New payment method" (click)="newPaymentMethod($event)">
                <mat-icon>account_balance</mat-icon>
              </button>
            </ng-template>


            <app-payment-method-list></app-payment-method-list>


          </app-page>
        </section>
      </mat-tab>
      <mat-tab label="Transfers">
        Transfers
      </mat-tab>
    </mat-tab-group>

  </section>
</app-page>


<router-outlet name="action"></router-outlet>
