<mat-accordion class="example-headers-align" multi *ngIf="memberWrapper$ | async as memberWrapper">
  <mat-expansion-panel [expanded]="true" class="bg-red-200">
    <mat-expansion-panel-header>
      <mat-panel-title class="text-2xl flex items-center">
        <mat-icon fontSet="fas" fontIcon="fa-id-card-alt" class="mr-4 text-red-600 text-4xl">
        </mat-icon>
        {{memberWrapper.member.fullName}}
      </mat-panel-title>
      <mat-panel-description fxLayoutGap="20px">
        <section fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon fontSet="fa" fontIcon="fa-birthday-cake"></mat-icon>
          <label>
            {{ memberWrapper.member.dateOfBirth | date:'MM/dd/yyyy' }}
          </label>
        </section>

        <section fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon fontSet="fa" fontIcon="fa-phone"></mat-icon>
          <label>
            {{memberWrapper.member.primaryPhone?.number | phone:'US' || 'N/A' }}
          </label>
        </section>

        <section fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon fontSet="fa" fontIcon="fa-envelope"></mat-icon>
          <label>
            {{memberWrapper.member.primaryAddress?.fullAddress || 'No Address' }}
          </label>
        </section>

        <section *ngIf="memberWrapper.member.cardNumber" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mat-icon fontSet="fa" fontIcon="fa-credit-card"></mat-icon>
          <label>
            {{memberWrapper.member.cardNumber }}
          </label>
        </section>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div fxFlex="0 0 100%" fxLayout="row wrap" fxLayout="flex-start baseline" fxLayoutGap="20px">


    <app-medicaid-header class="dashboard-tile mb-8" fxFlex="0 0 calc(20%-20px)" fxFlex.md="0 0 calc(25%-20px)"></app-medicaid-header>
    <app-lis-header class="dashboard-tile mb-8" fxFlex="0 0 calc(20%-20px)" fxFlex.md="0 0 calc(25%-20px)"></app-lis-header>


      <mat-card fxFlex="0 0 calc(20%-20px)" fxFlex.md="0 0 calc(25%-20px)"
        *ngFor="let productContext of productContexts" [matBadge]="productContext.notifications ? '!': 'ok'"
        [matBadgeColor]="productContext.notifications ? 'warn': 'primary'" class="mb-8">
        <mat-card-header>
          <mat-icon mat-card-avatar [fontSet]="productContext.fontSet" [fontIcon]="productContext.icon"
            class="header-icon text-4xl"></mat-icon>


          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>{{productContext.name}}</mat-card-title>
          <mat-card-subtitle>{{productContext.stage}}</mat-card-subtitle>
        </mat-card-header>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </mat-card>


    </div>

  </mat-expansion-panel>
</mat-accordion>
